@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{

    ViewData["Title"] = "Application Roles";
}

<h1>Views Roles</h1>

<p>
    <a asp-action="Create">Create Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model=>Model.Id)</th>
       
            <th>@Html.DisplayNameFor(Model => Model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
      
    </tbody>
</table>

